.u-center-text {
    text-align: center !important;
    padding: 5px;
}
// MARGIN BOTTOM
.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {margin-bottom: 4rem !important;}
.u-margin-bottom-big {margin-bottom: 8rem !important;}

// MARGIN TOP
.u-margin-top-big {margin-top: 8rem !important;}
.u-margin-top-small {margin-top: 2rem !important;}

// PADDING TOP
.u-padding-top-big {padding-top: 8rem !important;}
.u-padding-top-medium {padding-top: 6rem !important;}
.u-padding-top-small {padding-top: 2rem !important;}

// PADDING BOTTOM
.u-padding-bottom-big {padding-bottom: 8rem !important;}
.u-padding-bottom-medium {padding-bottom: 6rem !important;}


