
$color-primary: tomato;
$color-primary-dark: rgb(207, 55, 28);
$color-primary-light: rgb(252, 144, 125);


$color-grey-dark: rgb(78, 78, 78);

$color-white: rgb(255, 255, 255);
$color-white-opacity: rgba(255, 255, 255, 0.74);

$color-black: #000;
$color-black-shadow-15: rgba($color-black, .15);
$color-black-shadow-4: rgba($color-black, .4);