
@import "abstracts/utilities";
@import "abstracts/variables";

@import "base/animation";
@import "base/typohraphy";

@import "components/button";
@import "components/card";

@import "layout/header";
@import "layout/landingpage";
@import "layout/navbar";


.container{
    max-width: 960px;
}

.form-control-lg {
    width: 100%;
}

.form-style{
    width: 65%;
}


main {
    background-color: rgb(204, 218, 194);
    margin-top: -20vh;
    padding: 7rem;
}

/* FOOTER */
.footer-area{
    padding: .6rem 0px;
    position: relative;
}

.copyright {
    text-align: center;
}

.copyright p{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0;
    color: $color-grey-dark;
}

.ft-logo a img{
    max-width: 5rem;
}

.copyright p span{
    display: inline-block;
    color: $color-primary;
    font-weight: 400;
    text-shadow: $text-shadow;
    text-transform: uppercase;
 }