@import "abstracts/variables";
@import "base/animation";
@import "base/typohraphy";
@import "layout/header";
@import "layout/landingpage";

// .list-group-item {
//   line-height: 2.5;
// }

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
  color: $color-grey-dark;
}

.container{
    max-width: 960px;
}

.jumbotron{
    max-width: 960px;
    height: 450px;
}

.result-container{
    max-width: 960px;
    height: auto;
}



