
@import "abstracts/utilities";
@import "abstracts/variables";

@import "base/animation";
@import "base/typohraphy";

@import "components/button";
@import "components/card";

@import "layout/header";
@import "layout/landingpage";
@import "layout/navbar";


.container{
    max-width: 960px;
}

.form-control-lg {
    width: 100%;
}

.form-style{
    width: 65%;
}


main {
    background-color: rgb(204, 218, 194);
    margin-top: -20vh;
    padding: 10rem;
}