.gallery {
    height: 72vh; 
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.6), 
        rgba($color-primary-dark, 0.6));
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 52vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 52vh, 0 100%);

    &__img{
        width: 50%;
        height: auto;
        position: absolute;
        left: 5%;
        backface-visibility: hidden;
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

