.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 15%;
}

.text {
    font-size: 6rem;
    color: white;
    font-weight: 700;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.lead {
    font-family: 'Homenaje', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 1px;
    
}

.highlight {
    color: $color-primary;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
  
.btn-animation {
    box-sizing: inherit;
    outline-offset: 2rem;
    display: inline-block;
    font-size: 13pt;
    border-width: 2px;
    border-style: solid;
    border-color: $color-primary-dark;
    border-image: initial;
}
  
.title-app{
    color: black;
}