{{!-- APP page after the User logIn --}}

<div class="container">
    <h1 class="title">Welcome to Slay<span class="highlight">Tag</span></h1>
    
    <section class="img-gallery">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../public/img/work.jpg" class="d-block w-100" alt="work">
                </div>
                <div class="carousel-item">
                    <img src="../public/img/desk.jpg" class="d-block w-100" alt="desk">
                </div>
                <div class="carousel-item">
                    <img src="../public/img/oldmachine.jpg" class="d-block w-100" alt="old machine">
                </div>
            </div>
        </div>
    </section>

    <panel>
        <form class="create-form">
            <div class="form-group">
                <label for="newSearch">What are you looking for? </label>
                <input type="text" id="newSearch" name="searchItem" style="width:35%">
                <button type="submit" class="btn btn-warning" id="addItem"><i class="fab fa-searchengin"></i></button>
            </div>

            <div class="form__group u-margin-bottom-medium">

                <div class="form__radio-group">
                    <input type="radio" class="form__radio-input" id="small" name="size">
                    <label for="small" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        Phone
                    </label>
                </div>

                <div class="form__radio-group">
                    <input type="radio" class="form__radio-input" id="large" name="size">
                    <label for="large" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        Laptop
                    </label>
                </div>

            </div>
        </form>
    </panel>

    <section class="user-preferences">
        {{!-- User Budget --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="panel-body">
                    <ul>
                        {{#each users}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    <span class="input-group-text">Budget</span>
                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
        </div>

        {{!-- Popularity --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Popularity</span>
                <span class="input-group-text"><i class="fas fa-star"></i></span>
            </div>
            <input type="number" class="form-control" aria-label="Rating stars">
        </div>

        {{!-- Color --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Color</span>
                <span class="input-group-text"><i class="fas fa-palette"></i></span>
            </div>
            <input type="text" class="form-control" aria-label="Favorite Color">
        </div>
    </section>

    {{!-- Submit --}}
    <button type="button" class="btn btn-primary">Send <i class="fas fa-arrow-right"></i></button>

</div>
{{!-- End container div --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/app.js"></script> --}}

