{{!-- APP page after the User logIn --}}

{{!-- NAVBAR --}}
<div class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navigation__nav" id="navbar">
        <div class="container-fluid">

            <a class="navbar-brand navigation__logo" href="#"><img src="../img/Logo_Slaytag.png" style="width: 45px; height: 45px;"
                    alt="logo" id="logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navigation__collapse" id="navbarNav">
                <ul class="navbar-nav navigation__list">
                    <li class="nav-item active navigation__item">
                        <a class="nav-link navigation__link" href="/about-us">About us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation__link" href="/wishlist"><i class="fas fa-heart"></i>list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation__link" href="/history">History</a>
                    </li>
                </ul>
            </div>

            <form class="form-inline">
                <a>
                    <button class="btn btn-sm btn-outline-secondary" id="qsLogoutBtn" type="button">Log Out</button>
                </a>
            </form>

        </div>
        <!--End container-fluid-->
    </nav>
    <!-- END NAVBAR -->
</div>

{{!-- CAROUSEL --}}
<header class="gallery u-padding-top-small" id="gallery">

    <div class="gallery__img">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/work.jpg" style="width: 800px;" class="d-block  mx-auto" alt="work">
                </div>
                <div class="carousel-item">
                    <img src="../img/oldmachine.jpg" style="width: 1000px;" class="d-block  mx-auto" alt="old machine">
                </div>
                <div class="carousel-item">
                    <img src="../img/phone.jpg" style="width: 1000px;" class="d-block  mx-auto" alt="phone">
                </div>
                <div class="carousel-item">
                    <img src="../img/laptop.jpg" style="width: 1000px;" class="d-block  mx-auto" alt="laptop">
                </div>
                <div class="carousel-item">
                    <img src="../img/laptop2.jpg" style="width: 1000px;" class="d-block  mx-auto" alt="laptop2">
                </div>
                <div class="carousel-item">
                    <img src="../img/konika.jpg" style="width: 1000px;" class="d-block  mx-auto" alt="konika">
                </div>
            </div>
        </div>
    </div>

    <div class="gallery__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Welcome to</span>
            <span class="heading-primary--sub_1">Slay</span>
            <span class="heading-primary--sub_2 highlight">Tags</span>
        </h1>
    </div>

</header>

{{!-- How to use box --}}
<main>
    <section class="section-introduce u-margin-bottom-medium">
        <div class="container u-padding-bottom-small">
            <div class="u-center-text">

                <h2 class="heading-secondary">Let's get started</h2>
                <br>

                <button class="btn btn-secondary u-margin-bottom-small" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    How To Use
                </button>
                {{!-- Collapse Instruction --}}
                <div class="collapse u-margin-bottom-small" id="collapseExample">
                    <div class="card card-body">
                        <ul>
                            <li>Please enter the product you're searching for in the field below.</li>
                            <li>The more specific of a keyword you enter, the fewer results there will be.</li>
                            <li>We compare prices between <span><img src="../img/bestBuy-logo.png" style="width: 28px; height: auto;"
                                        alt="BestBuy-logo"></span> and <span><img src="../img/eBay-logo.png" style="width: 39px; height: auto;"
                                        alt="eBay-logo">
                                </span> so
                                that you can negotiate prices in-store
                                or online.</li>
                            <li>The products searched must be within the scope of the electronics category or you may
                                get few or no results.</li>
                            <li>The more specific of a keyword you enter, the fewer results but higher accuracy of
                                comparisons you get. </li>
                            <span class="card-body__ex">Example: (iPhone 6s plus 32GB or laptop Dell xps 13, etc...)</span>
                        </ul>
                    </div>
                </div>

            </div>
            {{!-- Search box --}}
            <div class="search">
                <form class="form-inline my-2 my-lg-0" action="/results" method="get">
                    <input class="form-control form-control-lg mr-sm-2 " id="search-item" type="search" style="width: 90.5%;"
                        placeholder="Search your favorite electronics devices... (Ex: Canon DSLR camera, Galaxy note 9, etc...)"
                        aria-label="Search">
                    <button id="search" class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

        </div>
    </section>
</main>

{{!-- FOOTER --}}
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright">
                        <a href="https://github.com/Spinglez/p2_slaytags" class="card__link"><i class="fab fa-github fa-2x"></i>
                            <p>@Copyright By <span>SlayTags.2019</span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>