<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> History </h1>
    <button id="Data">Clear Browsing Data</button>
    <button type="button" class="btn btn-primary">Send <i class="fas fa-arrow-right"></i></button>
    <form class="create-form">
        <div class="form-group">
            <label for="newSearch">Previously saved </label>
        
        </div>
</body>
</html>

 