{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

{{!-- Tam's code --}}

<section id="home" class="landingPage">

  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../img/Traffic_disco.mp4" type="video/mp4">
      <source src="../img/Traffic_disco.webm" type="video/webm">
      Your browser is not supported!
    </video>
  </div>
  {{!-- End Video div --}}

  <div class="flex">
    <div class="text">
      Slay<span class="highlight">Tag</span>
    </div>

    <div class="btn btn-animation" id="logIn">
      Sign Up<i class="fas fa-user-plus"></i>
      <a href="app/"></a>
      {{!-- After click -> switch to Log In page --}}
    </div>
  </div>

  {{!-- End Flex div --}}

</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/bestBuy.js"></script>
