{{!-- WELCOM TO SLAYTAGs --}}
<section id="home" class="landingPage">

  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../img/Traffic_disco.mp4" type="video/mp4">
      <source src="../img/Traffic_disco.webm" type="video/webm">
      Your browser is not supported!
    </video>
  </div>
  {{!-- End Video div --}}

  <div class="flex">
    <div class="text">
      Slay<span class="highlight">Tags</span>
    </div>
      <p class="lead">Compare electronics prices across Ebay & Best Buy</p>

    <button id="qsLoginBtn" class="btn btn--animated btn-outline-secondary btn-lg btn-margin">
      Log In
    </button>

    {{!-- End Flex div --}}
</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!--
<script src="/js/bestBuy.js"></script> --}}