<div class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navigation__nav" id="navbar">
        <div class="container-fluid">

            <a class="navbar-brand navigation__logo" href="#"><img src="../img/Logo_Slaytag.png" style="width: 45px; height: 45px;"
                    alt="logo" id="logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navigation__collapse" id="navbarNav">
                <ul class="navbar-nav navigation__list">
                    <li class="nav-item active navigation__item">
                        <a class="nav-link navigation__link" href="/aboutus">About us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation__link" href="/wishlist"><i class="fas fa-heart"></i>list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation__link" href="/history">History</a>
                    </li>
                </ul>
            </div>

            <form class="form-inline my-2 my-lg-0" action="/app" method="get">
                <button id="home" class="btn btn-sm btn-outline-secondary btn--home" title="Back to HOME page" type="submit"><i
                        class="fas fa-home"></i></button>
            </form>

            <form class="form-inline">
                <a>
                    <button class="btn btn-sm btn-outline-secondary" id="qsLogoutBtn" type="button">Log Out</button>
                </a>
            </form>

        </div>
        <!--End container-fluid-->
    </nav>
    <!-- END NAVBAR -->
</div>

<main>
    <section class="section-result u-margin-bottom-small">
        <div class="u-center-text u-padding-top-medium">
            <h2 class="heading-secondary u-margin-bottom-medium">History</h2>
        </div>
        <ul id="wish-list" class="list-group">
            {{#each products}}
            <li data-id="{{this.id}}" class="list-group-item">
                <a href="Product/{{this.id}}">{{this.name}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
        </ul>
    </section>
</main>

